.canvas {
  min-height: 30vh;
  width: 100%;
  background: white;
  display: flex;
  border-radius: 5px;
  outline: 3px solid rgb(111, 190, 91);
}
.canvas div {
  min-height: 15vh;
  min-width: 50%;
  text-align: center;
}
.canvas .input,
.canvas .output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.canvas .output {
  position: relative;
  border-left: 1px solid gray;
  max-width: 98%;
}

.canvas .output::before {
  content: "Output";
  position: absolute;
  top: 10px;
  left: 10px;
}

.canvas .text-input{
  width: 80%;
  height: 40%;
  resize: none;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: "Fira Sans";
}

.canvas button {
	background: #7cca68;
	border-radius: 10px;
	padding: 5px;
	color: white;
}

.canvas p.text-output{
  max-width: 96%;
  overflow-wrap: break-word;
}

.canvas p.text-output:empty::before{
  content: "---";
}

@media (max-width: 500px) {
  .canvas {
    flex-direction: column;
  }
  .canvas .input {
    min-height: 20vh;
  }
  .canvas .output {
    border-left: none;
    border-top: 1px solid gray;
    min-height: 10vh;
  }
  .canvas p {
    margin: 35px 0;
  }
  .canvas .text-input{
    height: 10vh;
  }
}
