.canvas {
  display: none;
  background: white;
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  outline: 3px solid rgb(111, 190, 91);
}

.canvas .text-input {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.canvas button.scramble {
  display: block;
  margin: 10px auto;
}

.canvas p.output{
    text-align: center;
}
